#carouselPlans {
  .card-plan {

    .nav {
      margin-bottom: -3px;
      margin-left: 5px;
      margin-right: 5px;

      .nav-item {
        position: relative;

        .percent {
          position: absolute;
          width: 100%;
          top: -10px;
          text-align: center;
          left: 0;
          padding: 0 1px;
          @include font-size(13px);
          font-family: 'Poppins', sans-serif;
        }

        .nav-link {
          border-color: #B4B4B4 #B4B4B4 #fff;
          background-color: $white;
          @include font-size(12px);
          color: #777777;
          margin: 10px 1px 0;
        }

        .nav-link.active {
          padding-top: 12px;
          padding-bottom: 12px;
          background-color: $primary;
          color: $white;
          border-color: $primary $primary #fff;
          margin: 0 1px;

          .percent {
            top: -20px;
          }
        }
      }
    }

    .card-header {
      background-color: $white;
      box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.15);
      position: relative;

      .desc {
        background-color: $secondary;
        color: $white;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        font-family: 'Poppins', sans-serif;

        .num {
          @include font-size(13px);
        }

        @include font-size(9px);

        > div {
          padding: 8px 0;
        }
      }

      .config {
        font-family: 'Poppins', sans-serif;
        @include font-size(15px);
        font-weight: bold;
      }

      .title {
        font-family: 'Poppins', sans-serif;
        @include font-size(30px);
        font-weight: bold;
      }

      .price {
        @include font-size(26px);
        font-weight: bold;
        color: $primary;
        del{
          @include font-size(18px);
        }
      }

      .subtitle {
        @include font-size(16px);
        color: #878787;
      }
    }

    .card-frame {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      margin: 0 5px;

      ul {
        @include font-size(16px);
        list-style: none;
        padding-left: 1rem!important;

        li {
          border: 0;
          padding: .5rem 1.25rem .5rem 25px;
          position: relative;

          &:before {
            content: "\f00c";
            font-family: FontAwesome;
            font-weight: bold;
            top: 7px;
            left: 0;
            position: absolute;
            color: $primary;
          }
        }
      }

      .btn {
        font-family: 'Poppins', sans-serif;
        @include font-size(15px);
        margin-bottom: -20px;
        padding: 10px 25px;
      }
    }

    .card-header.bg-primary {
      transition: .3s;
      background-color: $primary;

      .desc {
        background-color: $white;
        color: $primary;
      }

      .title, .price, .subtitle {
        color: $white;
      }
    }

    &:hover {
      .card-header {
        transition: .3s;
        background-color: $primary;

        .desc {
          background-color: $white;
          color: $primary;
        }

        .title, .price, .subtitle {
          color: $white;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      .nav {
        .nav-item {
          .nav-link {
            @include font-size(10px);
          }
        }
      }
      .card-header {
        .title {
          @include font-size(25px);
        }

        .price {
          @include font-size(20px);
        }

        .subtitle {
          @include font-size(14px);
        }
      }
      .card-frame {
        .list-group {
          @include font-size(14px);
        }
      }
    }

  }
}
